html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll; }

body {
  background-image: url("../img/mj_bg.jpg");
  background-repeat: no-repeat;
  color: white;
  font-family: Consolas, monaco, monospace; }

.container {
  margin: 50px 20px;
  text-align: center; }
  .container .name {
    user-select: none; }
  .container .desc {
    font-size: 14px; }
  .container .links {
    margin: 10px 0px;
    font-size: 1.2rem; }
    .container .links > a {
      color: inherit;
      text-decoration: none; }
      .container .links > a:hover, .container .links > a:active {
        color: grey; }
  .container .sections {
    margin: 20px 0px; }
    .container .sections .tag {
      color: grey;
      cursor: pointer;
      margin-bottom: 5px;
      display: inline-block;
      user-select: none; }
      .container .sections .tag.current span {
        color: cyan; }
      .container .sections .tag span {
        color: white; }
      .container .sections .tag:hover span, .container .sections .tag:active span {
        color: grey; }
  .container section {
    width: 60%;
    min-width: 360px;
    margin: auto; }
    .container section.disable {
      display: none; }
    .container section ul {
      text-align: left;
      font-size: 14px; }
      .container section ul li + li {
        margin-top: 3px; }
      .container section ul li .note {
        margin-top: 2px;
        color: gray;
        font-size: 13px; }
    .container section#jordan .quote {
      font-family: serif;
      font-style: italic; }
      .container section#jordan .quote .highlight {
        color: cyan;
        text-decoration: underline; }
    .container section#jordan .footer {
      font-family: serif;
      font-style: italic;
      text-align: right; }
    .container section#projects a {
      text-decoration: underline;
      color: inherit; }
      .container section#projects a:hover, .container section#projects a:active {
        color: gray; }
  .container iframe {
    border: none;
    margin-top: 10px; }
